.whole-order-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  max-width: 1200px;
  padding: 1rem;
  margin: auto;
  background-color: transparent;
}

.basket-container {
  padding: 15px;
  max-width: 500px;
  background-color: #fff;
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); */
}

.basket-items {
  width: 450px;
  margin-top: 15px;
  background-color: #fbfbfba0;
  border-radius: 5px;
  max-height: 450px;
  overflow-y: scroll;
}

.basket-items::-webkit-scrollbar {
  width: 5px;
}
.basket-items::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.basket-items::-webkit-scrollbar-thumb {
  background: #6995cd; 
}
.basket-items::-webkit-scrollbar-thumb:hover {
  background: #51719a; 
}

.basket-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #4646468f;
}

.basket-item-image {
  width: 150px;
  height: 120px;
  margin-right: 15px;
  border-radius: 8px;
  object-fit: cover;
}

.basket-item-details {
  flex: 1;
}

.basket-item-details h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.basket-item-details p {
  margin: 0px 0;
  font-size: 14px;
  color: #777;
}

.delete-article {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity-controls button {
  padding: 2px 8px;
  font-size: 14px;
  color: #000000;
  border: 0.5px black solid;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quantity-controls button:hover {
  background-color: #f0f0f094;
}

.remove-button {
  color: #009ab2;
  padding: 2px 4px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #ddf7ff;
}

.warning-card {
  max-width: 600px;
  height: fit-content;
  background-color: rgb(255, 215, 141);
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 10px;
}


/* flex-inputs-inline  */
.flex-inputs-inline {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .basket-items {
    width: 350px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 420px) {
  .basket-items {
    width: 300px;
    margin-top: 10px;
  }

  .basket-item-image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 400px) {
  .basket-items {
    width: 250px;
  }
}