/* Container for the background */
.signup-container {
    background: url('http://localhost:5173/Assets/library.jpg') center center/cover no-repeat;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 3rem 0.5rem;
}

/* Content styles */
.signup-content {
    z-index: 2;
}

.signup-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Form styling */
.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 50px;
    padding: 3px;
}

.signup-form input {
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid transparent;
    width: 250px;
    color: #000;
}

.signup-form button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #4a2b1e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.signup-form button:hover {
    background-color: #61412f;
}

.bg-tran-black {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.505);
    width: 100%;
    height: 100%;
}

.line-bottom {
    border-bottom: 1px solid rgb(145, 145, 145);
}

.footer-bottom {
    text-align: center;
    margin: 1rem auto;
}



@media screen and (max-width: 630px) {
    .signup-form {
        flex-direction: column;

        background-color: transparent;
        border-radius: 0px;
    }
}