.textcont {
  width: 100%;
  display: flex;
  flex-direction: row; /* Axe horizontal par défaut */
  justify-content: flex-start; /* Aligne les enfants sur la gauche */
  align-items: center; /* Centre verticalement les enfants */
  padding: 20px; /* Ajoute un espace intérieur au conteneur */
}


.textcont .titreDeco {
  max-width: 1000px;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  margin: 0 auto 15px auto; /* Centre horizontalement */
  background: linear-gradient(90deg, rgba(132, 230, 255, 0.296), rgba(0, 128, 255, 0.348));
  color: #242741;
  text-align: center; /* Centre le texte */
  padding: 10px; /* Ajoute un espace intérieur au texte */
  border-radius: 8px; /* Ajoute des coins arrondis */
}


.pupular_conatiner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-image: url('https://img.freepik.com/free-photo/watercolor-blue-splash-texture-white-background_23-2148153374.jpg?t=st=1734282124~exp=1734285724~hmac=3e98f32e8d68cc92552631a6175beac38ab920b856fc9979bd333a784ef6fa09&w=1060');
  backdrop-filter: blur('20px');
}

.cardsContainer {
  max-width: 1500px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
  gap: 50px;
}

.card__article {
  width: 300px;
  height: 400px;
  background: #8cdeff;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.125);
}

.card__img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  overflow: hidden;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adapte l'image sans la déformer */
  transition: all 0.5s linear;
}

.card__img:hover img {
  transform: scale(1.1); /* Zoom sur l'image */
}

.card__data {
  width: 250px;
  background-color: white;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: 15px;
  margin-bottom: .25rem;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
